<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mM_DSI -->
      <package
            uri="http://www.example.org/mM_DSI"
            class="mM_DSI.MM_DSIPackage"
            genModel="model/mM_DSI.genmodel"/>
   </extension>

</plugin>
